@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.navbar {
  text-align: center;
  height: 50px;
  background-color: #171321;
}

.querries {
  height: 30px;
  padding-top: 13px;
}
.querries li {
  display: inline;
}

.querries li a {
  text-decoration: none;
  color: white;
  margin: 10px;
  transition: 2s;
}

.querries li a:hover {
  color: #c10b7e;
  font-size: 1.2rem;
  transition: 1.5s;
}

.navlogo {
  width: 9%;
  position: absolute;
  top: -37px;

  right: 17px;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}
img {
  width: 300px;
}

.imageBox {
  width: 310px;
}

.imageAfter {
  position: absolute;
  top: 70px;
  width: 0;
  transition: 1.5s;
  overflow: hidden;
  border-right: 10px solid cyan;
}

.imageBox:hover .imageAfter {
  width: 310px;
  border-color: grey;
}

.contentAdult {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-family: Roboto;
  background-image: url("../static/back1.jpg");
  background-size: cover;
}

span {
  max-width: 60%;
  font-family: Poppins;
}
.footer {
  font-family: Poppins;
  font-size: 20px;
  color: white;
  background-color: #171321;
  text-align: center;
}
.contentAdult2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-family: Roboto;
}

/* .color1 {
  background-color: ;
} */

.color2 {
  background-color: #ffde21;
}

/* .color3 {
  background-color: ;
} */

.color4 {
  background-color: #ffde21;
}

/* .color5 {
  background-color: ;
} */

.color6 {
  background-color: #ffde21;
}

/* .color7 {
  background-color: ;
} */

.color8 {
  background-color: #ffde21;
}

/* .color9 {
  background-color: ;
} */

.color10 {
  background-color: #ffde21;
}

.color12 {
  background-color: rgb(236, 236, 236);
}
@media (max-width: 640px) {
  .contentAdult {
    flex-direction: column;
  }
  span {
    max-width: 100%;
  }
   .contentAdult2 {
    flex-direction: column;
  }
}
