<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- <link rel="stylesheet" href="./test.css"> -->
    <script src="{{ url_for('static', filename='p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='canvas.js') }}"></script>

</head>

<body>
    <header>
        <div class="photu">

            <nav class="navbar">


                <ul class="querries">
                    <li><a href="/">Home()</a></li>
                    <li><a href="/about">About()</a></li>
                    <li><a href="/projects">Projects()</a></li>
                    <li><a href="/contact">Contact()</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="contentAdult">
        <div class="container">
            <div class="imageBox">

                <div class="imageBefore">
                    <img src="{{ url_for('static', filename='image1.jpeg') }}" alt="">
                </div>
                <div class="imageAfter">
                    <img src="{{ url_for('static', filename='image2.jpeg') }}" alt="">
                </div>
            </div>
        </div>


        <span class="content">
            "Remember, repeating an <i>action</i> makes a <b>habbit</b>. Your <i>habbits</i> create your
            <b>character</b>. And your <i>character</i> is your <b>destiny</b>. May <i>success</i> be your
            <b>destiny</b>" <br> <br>
            <b>Full Stack Developer(UI,UX)</b>, willing to solve real-world problems. Industrious approach with loads of
            creativity. <b>Socializer</b> and always open for suggestions.
        </span>
    </div>


    <div class="contentAdult2 color1">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='google.jpg') }}" alt="seo">

            </div>
        </div>


        <span class="content">
            <h1>Search Engine Optimization</h1>
            Passed the <b>Google digital unlocked</b> certification of <b>the Fundamentals of Digital marketing</b>
            specializing in SEO & SEM
        </span>
    </div>



    <div class="contentAdult2 color2">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='bigdata.jpg') }}" alt="big data">

            </div>
        </div>


        <span class="content">
            <h1>Big Data Analytics</h1>
            Completed Coursera based <b>Big Data & ML fundamentals</b> on gcp(Google Cloud Platform).
        </span>
    </div>

    <div class="contentAdult2 color3">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='ai.jpg') }}" alt="ai">

            </div>
        </div>


        <span class="content">
            <h1>Augmented Reality</h1>
            Completed Coursera certification for <b>Augmented Reality</b>. Worked previously with <b>Unity and
                Vuforia</b>
        </span>
    </div>





    <div class="contentAdult2 color4">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='gsw.jpg') }}" alt="gsw">

            </div>
        </div>


        <span class="content">
            <h1>Google Startup Weekend</h1>
            <b>2nd runner up</b> in GSW varanasi. Learned Policy Dialogue, Buisness model development, delivering
            startup pitch & team cooperation.
        </span>
    </div>

    <div class="contentAdult2 color5">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='jpmorgan.jpg') }}" alt="jp">

            </div>
        </div>


        <span class="content">
            <h1>JP Morgan Chase</h1>
            worked on their open source stock screener <b>Persepective</b> using modern web technolgies like
            <b>React</b> and python3, working out git patches.
        </span>
    </div>


    <div class="contentAdult2 color6">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='TECHFEST.jpg') }}" alt="iitb">

            </div>
        </div>


        <span class="content">
            <h1>Techfest IIT Bombay</h1>
            Qualified 1st round and earned cash prize of Rs5000.
            Learned application of <b>Aerodynamics</b> in model prototyping of <b>UAV and water rockets</b> Unmanned
            Aerial
            vehicles(UAV)
        </span>
    </div>





    <div class="contentAdult2 color7">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='escapade.jpg') }}" alt="fmc">

            </div>
        </div>


        <span class="content">
            <h1>Travel Videography (Escapade)</h1>
            3rd place in travel video making competition <b>Escapade</b> in <b>FMC Weekend</b> IIT BHU digital arts
            fest.
        </span>
    </div>


    <div class="contentAdult2 color8">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='iitk.jpg') }}" alt="iitk">

            </div>
        </div>


        <span class="content">
            <h1>Earthquake Tips IIT Kanpur</h1>
            Eathquake tips quiz competition in earthquake engineering department IIT Kanpur. Learned sustainable
            architecture and modelling.
        </span>
    </div>


    <div class="contentAdult2 color9">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='irctc.jpg') }}" alt="sustainable">

            </div>
        </div>


        <span class="content">
            <h1>IRCTC Sustainable challenge</h1>
            study and skit on the ganga river water problems. Suggesting sustainable studies to counter pollution and
            highlighting its impact.
        </span>
    </div>


    <div class="contentAdult2 color10">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='darshi.jpg') }}" alt="love">

            </div>
        </div>


        <span class="content">
            <h1>More About Me</h1>
            So since you wanna know more, I introduce you to my constant support Miss Priyadarshi Dixit. This is a
            appreciation post.
        </span>
    </div>

    <div class="contentAdult2 color11">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='maa.jpg') }}" alt="iit">

            </div>
        </div>


        <span class="content">
            <h1>A proud Photo</h1>
            Place where the journey began of countless memories and unending friendships thankyou IITBHU and love for
            my maa and papa.
        </span>
    </div>

    <div class="contentAdult2 color12">
        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='robo.jpg') }}" alt="robotron">

            </div>
        </div>

        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='MUN.jpg') }}" alt="mun">

            </div>
        </div>

        <div class="container">
            <div class="imageBox">
                <img src="{{ url_for('static', filename='rcplane2.jpg') }}" alt="aero">

            </div>
        </div>

    </div>

    <div class="footer">
        &copy;Utkarsh Shukla Portfolio 2020 all rights reserved
    </div>





</body>

</html>
