<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/projects.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <header>
        <div class="photu">
            <a href="#">
        <img src="../static/images/meweb.png" alt="its my photo" class="navlogo">
        </a>
        <nav class="navbar">
            
           
            <ul class="querries">
                <li><a href="/">Home()</a></li>
                <li><a href="/about">About()</a></li>
                <li><a href="/projects">Projects()</a></li>
                <li><a href="/contact">Contact()</a></li>
            </ul>
        </nav>
    </div>
    </header>
    

<!-- socialicon done -->

<!-- basefooter -->
    <div class="footer">
        &copy;Utkarsh Shukla Portfolio 2020 all rights reserved
    </div>

</div>

<script>$(".social").hover(function(){
    $(this).toggleClass("shadow-1").siblings();
    $(this).toggleClass("fill-color").siblings();
  });</script>
</body>
</html>